<!DOCTYPE html>
<html>
<head>
    <title>Note Online</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'A2/style1.css' %}" />
</head>

<body>

<!--header-->
    <div id="header"><br>
        <h1>Write Note Here</h1>
    </div>
<!--end header-->

<!--menu bar horizontal-->
<h2 class="offscreen">Web Note Online</h2>
<div id="hmenu">
<ul>
  <li><a href="{% url 'A2.views.home_page' %}">Home</a></li>
  <li><a href="https://bitbucket.org/assignment2_WTY/assignment2/overview">Bitbucket</a></li>
  <li>
{% if user.is_authenticated %}
        <form method="POST" action="/">
            <p align="right">{{ user.get_username }}.
            <input type="submit" value="log out" id="logout" >
            <input type="hidden" value="logout_next" name="submit_logout_page" >
            {% csrf_token %}
        </form></p>
{% else %}
        <form method="POST" action="/accounts/registration/" style="float:right;">
            <p align="right">/&nbsp;New Users
            <input type="submit" value="sign up" id="registration" >
            <input type="hidden" value="regis_next" name="submit_regis_page" >
            {% csrf_token %}
        </form>
        <form method="POST" action="/accounts/login/" style="float:right;"> 
            Current Users
            <input type="submit" value="log in" id="login" >
            <input type="hidden" value="login_next" name="submit_login_page" >
            {% csrf_token %}
        </form></p>
{% endif %}</li>
</ul>  
</div> 
<!--end menu bar horizontal-->

<!--menu-->
    <div id="nav">
          <form method="POST" action="/search_result/">
              Search: <input name="search" id="id_search" placeholder="Search Note" style="width:200px;" />
          <input type="submit" id="id_submit_search" name="submit_search" value="Search" />

          <p></p>
          {% csrf_token %}
           </form>

        <b><u>History</u></b>
        <!-- <form method="POST" onsubmit="testFn()" > -->
        <form method="POST" >
          <input type="submit" id="id_sortbyname" name="sortbyname" value="Sort by name">
          <input type="submit" id="id_sortbydate" name="sortbydate" value="Sort by dates">
          <br>
          <input type="radio" name="sortselect" value="ascending" checked>Ascending
          <input type="radio" name="sortselect" value="descending">Descending
          <br><br>
          {% csrf_token %}
        </form>
        <table id="id_show_text" >
            {% for note in notes %}
                <tr><td> <b> {{ forloop.counter }}. </b><b>TITLE : </b>{{ note.title }}<br>
                <b>Date : </b>{{ note.pub_date }}
                <form method="POST" action="/note_detail/{{ note.id }}/">
                <input type="submit" value="more..." id="view_note_{{ note.id }}" >
                {% csrf_token %}
                 </form>
                 <br></td></tr>
            {% endfor %}
        </table>
    </div>
<!--end menu-->

<!--note online-->
    <div id="section">
	<form method="POST">
            TITLE :<input name="title_text" id="id_title_text" placeholder="Write Title" style="width:70%;" />
      <p></p>
	    URL&nbsp;&nbsp;&nbsp;: <input type="url" name="url_text" id="id_url_text" placeholder="Write URL (e.g. http://www.google.com)" style="width:70%;"/>
	    <p></p>
            MESSAGE : <br><textarea name="note_text" id="id_note_text" placeholder="Write Message" style="width:80%;height:250px;" /></textarea>
	    <p></p>
	    <input type="submit" id="id_submit" name="add_form" value="Submit">
	    {% csrf_token %}
        </form>
    </div>
<br>
<br>
<!--end note online-->

<!--footer-->
    <div id="footer">
         Assignment2
    </div>
<!--endfooter-->
</body>
</html>
