<!DOCTYPE html>
<html>
    <head>
        <title>Note Online</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'A2/style1.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'A2/style2.css' %}" />
    </head>
    <body>
<!--header-->
      <div id="header">
        <h1>Note Edit</h1>
      </div>
<!--end header-->

<!--menu bar horizontal-->
<div id="hmenu">
<ul>
  <li><a href="{% url 'A2.views.home_page' %}">Home</a></li>
  <li><a href="{% url 'A2.views.login_page' %}">Log in</a></li>
  <li><a href="{% url 'A2.views.register_page' %}">Register</a></li>
  <li><a href="https://bitbucket.org/assignment2_WTY/assignment2/overview">Bitbucket</a><br></li>
</ul>  
</div>
<!--end menu bar horizontal-->

<!--menu-->
      <div id="nav">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
      </div>
<!--end menu-->

<!--Note edit-->
    <div id="section2">
	<form method="POST">
            TITLE :<input name="title_text" id="id_title_text" placeholder="Write Title" value = "{{ each_note.title }}" style="width:500px;" />
      <p><p>
	    URL&nbsp;&nbsp;&nbsp;: <input type="url" name="url_text" id="id_url_text" placeholder="Write URL (e.g. http://www.google.com)" value = "{{ each_note.url }}" style="width:500px;"/>
	    <p><p>
            MESSAGE : <br><textarea name="note_text" id="id_note_text" placeholder="Write Message"  style="width:500px;height:250px;" />{% for message in each_note.message %}{{ message }}{% endfor %}</textarea>
	    <p><p>
        <input type="submit" id="id_submit" name="edit_form" value="Submit">
	    {% csrf_token %}
  </form>
	</div>
<!--end Note edit-->

<!--footer-->
    <div id="footer">
         Assignment2
    </div>
<!--endfooter-->
    </body>
</html>
