<!DOCTYPE html>
<html>
    <head>
        <title>Note Online</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'A2/style1.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'A2/style2.css' %}" />
    </head>
    <body>
<!--header-->
      <div id="header">
         <h1>Note Detail</h1>
      </div>
<!--end header-->

<!--menu bar horizontal-->
<div id="hmenu">
<ul>
  <li><a href="{% url 'A2.views.home_page' %}">Home</a></li>
  <li><a href="{% url 'A2.views.login_page' %}">Log in</a></li>
  <li><a href="{% url 'A2.views.register_page' %}">Register</a></li>
  <li><a href="https://bitbucket.org/assignment2_WTY/assignment2/overview">Bitbucket</a><br></li>
</ul>  
</div>
<!--end menu bar horizontal-->

<!--menu-->
      <div id="nav">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
      </div>
<!--end menu-->

<!--Note Detail-->
    <div id="section2">
             <input type="hidden" value="{{ each_note.id }}" name="deleted" >
             {% csrf_token %}

        <table id="id_show_text" align="center" >
	<tr><td><br></tr></td>
		<tr><td> <b>Date : </b>{{ each_note.pub_date }} </td></tr>
                <tr><td><br></td></tr>
		<tr><td> <b>TITLE : </b>{{ each_note.title }} </td></tr>
                <tr><td> <b>URL : </b><a href="{{ each_note.url }}">{{ each_note.url }}</a> </td></tr>
                    {% for message in each_note.message %}
	                <tr><td style="word-wrap: break-word"> {{ message }} </td></tr>
		    {% endfor %}
                <tr><td><br></tr></td>
        </table>

        <form method="POST" >
          <p style="text-align: center;">
            <input type="submit" value="delete" name="button_delete" id="id_delete"></p>
            <input type="hidden" value="{{ each_note.id }}" name="deleted" >
                {% csrf_token %}
        </form>

        <form method="POST" action="/note_edit/{{ each_note.id }}/">
          <p style="text-align: center;">
            <input type="button" value="Home" onclick="window.location.href='/'">
            <input type="submit" value="edit" name="button_edit" ><br><br></td></tr>
                {% csrf_token %}
        </form>
    </div>
<!--end Note Detail-->

<!--footer-->
    <div id="footer">
         Assignment2
    </div>
<!--endfooter-->
    </body>
</html>
