<!DOCTYPE html>
<html>
    <head>
        <title>Note Online</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'A2/style1.css' %}" />
    </head>

    <body>
<!--header-->
      <div id="header">
        <h1>Search</h1>
      </div>
<!--end header-->

<!--menu bar horizontal-->
<div id="hmenu">
<ul>
  <li><a href="{% url 'A2.views.home_page' %}">Home</a></li>
  <li><a href="{% url 'A2.views.login_page' %}">Log in</a></li>
  <li><a href="{% url 'A2.views.register_page' %}">Register</a></li>
  <li><a href="https://bitbucket.org/assignment2_WTY/assignment2/overview">Bitbucket</a><br></li>
</ul>  
</div>
<!--end menu bar horizontal-->

<!--menu-->
      <div id="nav">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
      </div>
<!--end menu-->

<!--don't found-->
      <div id="section">
          From here you can search these Note.<br><br>
          <form method="POST" action="/search_result/">
              <input name="search" id="id_search" placeholder="Search Note" style="width:200px;" />
              <input type="submit" id="id_submit_search" name="submit_search" value="Search" />
              <input type="button" value="Home" onclick="window.location.href='/'">
          {% csrf_token %}
           </form>
          <br>
        <h2>Search Results</h2>
    ------------------------------------------------------<br>
       Your search "{{ search_word }}" did not found. Please make sure that all words are spelled correctly<br>
    </div>
<!--end don't found-->

<!--footer-->
    <div id="footer">
         Assignment2
    </div>
<!--endfooter-->
    </body>
</html>
