<!DOCTYPE html>
<html>
    <head>
        <title>Note Online</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'A2/style1.css' %}" />
    </head>
    <body>
<!--header-->
      <div id="header">
        <h1>Search Note Online</h1>
      </div>
<!--end header-->

<!--menu bar horizontal-->
<div id="hmenu">
<ul>
  <li><a href="{% url 'A2.views.home_page' %}">Home</a></li>
  <li><a href="{% url 'A2.views.login_page' %}">Log in</a></li>
  <li><a href="{% url 'A2.views.register_page' %}">Register</a></li>
  <li><a href="https://bitbucket.org/assignment2_WTY/assignment2/overview">Bitbucket</a><br></li>
</ul>  
</div>
<!--end menu bar horizontal-->

<!--menu-->
      <div id="nav">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
      </div>
<!--end menu-->

<!--result search-->
      <div id="section">
          From here you can search these Note.<br><br>
          <form method="POST" action="/search_result/">
              <input name="search" id="id_search" placeholder="Search Note" style="width:200px;" />
              <input type="submit" id="id_submit_search" name="submit_search" value="Search" />
              <input type="button" value="Home" onclick="window.location.href='/'">
          {% csrf_token %}
        </form>

  {% for found_note in note_found %}
  <form method="POST" action="/note_detail/{{ found_note.id }}/">
        <table id="id_show_text" align="left">
                <tr><td><br></td></tr>
		            <tr><td><b>TITLE : </b>{{ found_note.title }} </td></tr>
                <tr><td><b>URL : </b><a href="{{ found_note.url }}">{{ found_note.url }}</a> </td></tr>
		            <tr><td><b>Date : </b>{{ found_note.pub_date }}<br></td></tr>
                <tr><td><input type="submit" value="more..." id="view_note_{{ found_note.id }}" ><br></td></tr>
                <tr><td>------------------------------------------------------------------</td></tr>
        </table>
  {% csrf_token %}
  </form>
  {% endfor %}
</div>
<!--end result search-->

<!--footer-->
    <div id="footer">
         Assignment2
    </div>
<!--endfooter-->
    </body>
</html>
