        body {
            background-color:#CEF6E3;
        }
        #header {
            background-color:black;
            color:white;
            text-align:center;
            padding:2%;
        }
        #nav {
            line-height:30px;
            background-color:#0B3B24;
            color:white;
            width:25%;
            float:left;
            padding:4%;
        }
        #section {
            margin:2.5%;
            background-color:#CEF6E3;
            float:left;
            width:50%;
            padding:4%;
        }

        #footer {
            background-color:black;
            color:white;
            clear:both;
            text-align:center;
            padding:2%;
        }
        h1 {
            text-align: center;
        }
        h2 {
            text-align: left;
            font-size: 30px;
        }
        .offscreen {
            position: absolute;
            top: -30em;
            left: -300em;
        }

        div#hmenu {
            margin: 0;
            padding: .3em 0 .3em 0;
            background: #ddeebb;
            width: 100%;
            text-align: left;
        }

        div#hmenu ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        div#hmenu ul li {
            margin: 0;
            padding: 0;
            display: inline;
        }

        div#hmenu ul a:link{
            margin: 0;
            padding: .3em .4em .3em .4em;
            text-decoration: none;
            font-weight: bold;
            font-size: medium;
            color: #004415;
        }

        div#hmenu ul a:visited{
            margin: 0;
            padding: .3em .4em .3em .4em;
            text-decoration: none;
            font-weight: bold;
            font-size: medium;
            color: #227755;
        }

        div#hmenu ul a:active{
            margin: 0;
            padding: .3em .4em .3em .4em;
            text-decoration: none;
            font-weight: bold;
            font-size: medium;
            color: #227755;
        }

        div#hmenu ul a:hover{
            margin: 0;
            padding: .3em .4em .3em .4em;
            text-decoration: none;
            font-weight: bold;
            font-size: medium;
            color: #f6f0cc;
            background-color: #227755;
        }
