<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'A2/style1.css' %}" />
    <!--link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="utf-8"-->
</head>

<body>
<!--header-->
    <div id="header">
        <h1>Login</h1>
    </div>
<!--end header-->
<h2 class="offscreen">Web Note Online</h2>
<div id="hmenu">
<ul>
  <li><a href="{% url 'A2.views.home_page' %}">Home</a></li>
  <li><a href="{% url 'A2.views.login_page' %}">Log in</a></li>
  <li><a href="{% url 'A2.views.register_page' %}">Register</a></li>
  <li><a href="https://bitbucket.org/assignment2_WTY/assignment2/overview">Bitbucket</a><br></li>
</ul>  
</div> 
<!--menu-->
    <div id="nav">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    </div>
<!--end menu-->

<!--login-->
    <div id="section">
      <table class="table">
         <tr><td>
Username :
         </td><td>
        <form method="post" action="/"> <!--form action login-->
<input type="username" name="username" id="id_username" placeholder=""  required
    oninvalid="this.setCustomValidity('Please Enter your username')"
    oninput="setCustomValidity('')"
       class="form-control input-sm"/>
         </td></tr>
         <tr><td>
Password :
         </td><td>
<input type="password" name="password" id="id_password" placeholder="" required
    oninvalid="this.setCustomValidity('Please Enter your password')"
    oninput="setCustomValidity('')"
       class="form-control input-sm"/>
         </td></tr>
         <tr><td colspan="2">
                <p style="color:red">{{ alarm }}</p>
                <input type="submit" value="Login" id="login" style="float:center;"/>
                <input type="hidden" name="login_send" value="send" />
                <INPUT TYPE=RESET onClick="return confirm('Are you sure you want to reset the form?')">
         {% csrf_token %}
                </form>  <!--end form-->

        <!--form method="POST" action="/" style="float:right;">
            <input type="submit" value="Back" id="back" >
            <input type="hidden" value="Back_send" name="back_send" >
	    <br>
            {% csrf_token %}
        </form-->
</td></tr>
</table>
    </div>
<!--end login-->

<!--footer-->
    <div id="footer">
         Assignment2
    </div>
<!--endfooter-->
  </body>
</html>
