<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registration complete</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
    <style type="text/css">
        body {
            background-color:#CEF6E3;
        }
        #header {
            background-color:black;
            color:white;
            text-align:center;
            padding:2%;
        }
        #nav {
            line-height:30px;
            background-color:#0B3B24;
            color:white;
            width:25%;
            float:left;
            padding:4%;
        }
        #section {
            margin:30px;
            background-color:#CEF6E3;
            float:left;
            width:50%;
            padding:4%;
        }

        #footer {
            background-color:black;
            color:white;
            clear:both;
            text-align:center;
            padding:2%;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
<!--header-->
    <div id="header">
        <h1>Register complete</h1>
    </div>
<!--end header-->

<!--menu-->
    <div id="nav">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    </div>
<!--end menu-->

<!--note online-->
    <div id="section">
        <b>ลงทะเบียนสำเร็จ</b>
        <form method="POST" action="/" style="float:right;">
            <input type="submit" value="go to Home" id="home" >
            <input type="hidden" value="Home_next" name="home_next" >
            {% csrf_token %}
        </form>
        <form method="POST" action="/accounts/login/" style="float:right;">
            <input type="submit" value="login" id="login" >
            <input type="hidden" value="login_next" name="submit_login_page" >
            {% csrf_token %}
            or &nbsp;
        </form>
    </div>
<!--end note online-->

<!--footer-->
    <div id="footer">
         Assignment2
    </div>
<!--endfooter-->
</body>
</html>
