<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registration</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'A2/style1.css' %}" />
</head>

<body>
<!--header-->
    <div id="header">
        <h1>Register Here</h1>
    </div>
<!--end header-->
<h2 class="offscreen">Web Note Online</h2>
<div id="hmenu">
<ul>
  <li><a href="{% url 'A2.views.home_page' %}">Home</a></li>
  <li><a href="{% url 'A2.views.login_page' %}">Log in</a></li>
  <li><a href="{% url 'A2.views.register_page' %}">Register</a></li>
  <li><a href="https://bitbucket.org/assignment2_WTY/assignment2/overview">Bitbucket</a></li>
</ul>  
</div> 
<!--menu-->
    <div id="nav">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    </div>
<!--end menu-->

<!--note online-->
    <div id="section">
        <form method="post" action="/accounts/registration_complete/">
            {% csrf_token %}

<table class="table">
<tr><td>
        <b>Name</b><br>
<input type="text" name="firstname"    id="id_firstname" placeholder="First" style="width:140px;" required
    oninvalid="this.setCustomValidity('Please Enter your username')"
    oninput="setCustomValidity('')"
    class="form-control input-sm"/> : 
<input type="text" name="lastname"    id="id_lastname" placeholder="Last" style="width:140px;" required
    oninvalid="this.setCustomValidity('Please Enter your username')"
    oninput="setCustomValidity('')"
    class="form-control input-sm"/>
</td></tr>
<tr><td>
        <b>Username</b><br>
<input type="username" name="username"    id="id_username" placeholder="" style="width:300px;" required
    oninvalid="this.setCustomValidity('Please Enter your username')"
    oninput="setCustomValidity('')"
    class="form-control input-sm"/>
</td></tr>
<tr><td>
        <b>e-mail</b><br>
<input type="e-mail" name="email" id="id_email" placeholder="" style="width:300px;" required
    oninvalid="this.setCustomValidity('Please Enter your e-mail')"
    oninput="setCustomValidity('')"
    class="form-control input-sm"/>
</td></tr>
<tr><td>
        <b>Create a password</b><br>
<input type="password" name="password1" id="id_password1" placeholder="" style="width:300px;" required
    oninvalid="this.setCustomValidity('Please Enter your password')"
    oninput="setCustomValidity('')"
    class="form-control input-sm"/>
</td></tr>
<tr><td>
        <b>Confirm your password</b><br>
<input type="password" name="password2" id="id_password2" placeholder="" style="width:300px;" required
    oninvalid="this.setCustomValidity('Please Enter your password again')"
    oninput="setCustomValidity('')"
    class="form-control input-sm"/>
<tr><td colspan="2"style="float:left;">
                <p style="color:red">{{ alarm }}</p>
                <input type="submit" value="Register" id="regis" style="float:center;"/>
                <input type="hidden" name="send_register" value="send" />
                <INPUT TYPE=RESET onClick="return confirm('Are you sure you want to reset the form?')">
        </form>
</td></tr>
</table>    
    </div>
<!--end note online-->

<!--footer-->
    <div id="footer">
         Assignment2
    </div>
<!--endfooter-->
</body>
</html>
